@font-face {
  font-family: IndigoReg;
  src: url(./assets/fonts/indigo/Indigo\ Outline.otf);
}

body {
  background-color: #ffe8bcde;
}

.wrapper {
  margin: 10px;
}

.dimmed {
  background-color: grey;
  opacity: 0.5;
}

header {
  background-color: #ffa630;
  color: white;
  padding: 30px 30px 60px 30px;
  margin: 5px 5px -45px 5px;
  border-radius: 20px;

  font-family: IndigoReg;
  font-size: 24pt;
}

header h1 {
  text-align: center;
  /* margin-top: 10px; */
}

.basket {
  height: fit-content;
  position: absolute;
  top: 35px;
  right: 40px;
}

.basket::after {
  content: "";
  width: 40px;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* background-color: white; */
}

.basket:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.basket:hover::after {
  box-shadow: white 0px 3px 0px 0px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  font-family: IndigoReg;
  font-size: 24pt;
}

.modalWrapper {
  height: 300px;
  width: 350px;
  background-color: white;
}

@media (min-width: 350px) {
  .modalWrapper {
    height: 70vh;
    width: 80vh;
  }
}
